// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.gutter[gutter-name*="pprofile"] {
    .profile-gutter{
        width: 100%;
        height: 100%;
        text-align: left;
    }

    .line-stats{
        .color-marker {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .text{
            margin-left: 8px;
            white-space: nowrap;
        }
    }

    .line-stats-width{
        visibility: hidden;
    }
}

.pprofile-launcher{
    padding: 0.375em;

    .input-block{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        min-width: 200px;
    }

    .input-block-item {
        padding: 0.375em;
        flex: 1 1 12em;
    }

    .input-block-item--flex{
        flex: 100 1 25em;
    }

    .btn-group,
    .btn{
        flex: 1;
    }

    .btn-group {
        display: flex;

        &.btn-group-run {
            flex: 1 1 120px;

            .text {
                margin-right: 5px;
            }

            .loader {
                position: absolute;
                top: 3px;
            }
        }
    }

    atom-text-editor::shadow .gutter{
        display: none;
    }

}
