// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

atom-text-editor::shadow .gutter[gutter-name*="cprofile"] {
    width: 100px;

    // @background-color-success: #17ca65;
    // @background-color-warning: #ff4800;
    // @background-color-error: #c00;

    .line-stats{
        padding-left: 15px;

        &::before{
            content: '';
            position: absolute;
            left: 0;
            border-left: 1px solid;
            top: 15%;
            height: 50%;
        }
        //
        // &.good::before{
        //     border-left-color: #17ca65;
        // }

        // &.warn::before{
        //     border-left-color: #FFF200;
        // }
        //
        // &.bad::before{
        //     border-left-color: #FF0101;
        // }
    }
}

.cprofile-launcher{
    padding: 0.375em;

    atom-text-editor{
        height: 100px;
    }

    .input-block{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        min-width: 200px;
    }

    .input-block-item {
        padding: 0.375em;
        flex: 1 1 12em;
    }

    .input-block-item--flex{
        flex: 100 1 25em;
    }

    .btn-group,
    .btn{
        flex: 1;
    }

    .btn-group{
        display: flex;

        &.btn-group-run{
            flex: 1 1 120px;
        }
    }

}
